@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = $"{Configuration.GetSection( "AppSettings" )["CompanyName"]}";
}
<div class="ti-sub-header col-md-12 bg-ti-blue">
    <h3 id="idh3" class="ti-h3 w-100">Please tell us a little bit about yourself</h3> 
    <div class="w-30 mx-auto ti-form-title">
        <h4 id="idh4" class="px-24">Please enter your details here</h4>
    </div>
</div>

<div style="text-align: center;" class="container">

    <div class="mx-auto bg-white d-flex flex-column align-items-center justify-content-center bg-images">

    <div id="capture-container" class="employee-data-box text-left d-flex flex-column justify-content-center">
        <form novalidate="" autocomplete="on" id="formEmployee" name="formEmployee" role="form" class="form ng-untouched ng-pristine ng-valid">
            <div>
                <div class="row xmt-4 px-2">
                    <div class="xform-group col-md-6 p-1">
                        <label for="uname1">First name *</label>
                        <input formcontrolname="firstName" id="uname1" name="uname1" required="" type="text" placeholder="Matthew" value="@ViewData["firstName"]" aria-label="First Name" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="xform-group col-md-6 p-1">
                        <label _ngcontent-rvd-c29="">Last name *</label>
                        <input formcontrolname="lastName" id="lastname1" required="" type="text" placeholder="Michael" value="@ViewData["lastName"]" aria-label="Last Name" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                    </div>
                </div>
                
                <div class="row" style="display:inline-block;">
                    <button id="plus-icon" type="button" class="btn-collapse" data-bs-toggle="collapse" data-bs-target="#idrow-more"><img src="~/images/plus-icon.png" alt="open more..."/></button>
                    <button id="minus-icon" type="button" style="display:none" class="btn-collapse" data-bs-toggle="collapse" data-bs-target="#idrow-more"><img src="~/images/minus-icon.png" alt="close more..."/></button>
                </div>

                <div id="idrow-more" class="collapse">
                    <div class="row xmt-4 px-2">
                        <div class="xform-group col-md-6 p-1">
                            <label for="address1">Address *</label>
                            <input formcontrolname="address" id="address1" name="address1" required="" type="text" placeholder="2345 Anywhere Street, Your City, NY 12345" value="@ViewData["address"]" aria-label="Address" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                        </div>
                        <div class="xform-group col-md-6 p-1">
                            <label for="dateOfBirth">Date of Birth *</label>
                            <input formcontrolname="dateOfBirth" id="dateofBirth1" required="" type="date" placeholder="YYYY-MM-DD" value="@ViewData["dateOfBirth"]" aria-label="Date of Birth" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                        </div>
                    </div>
                    <div class="row xmt-4 px-2">
                        <div class="xform-group col-md-6 p-1">
                            <label for="documentType">Document Type *</label>
                            <select name="documentType" id="documentType" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                                <option value="passport">Passport</option>
                                <option value="dl" selected>Drivers License</option>
                            </select>
                        </div>
                        <div class="xform-group col-md-6 p-1">
                            <label for="documentNumber">Document No *</label>
                            <input formcontrolname="documentNumber" id="documentNumber" name="documentNumber" required="" type="text" placeholder="AB978156" value="@ViewData["documentNumber"]" aria-label="Date of Birth" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                        </div>
                    </div>
                        <div class="row xmt-4 px-2 mb-4">
                            <div class="xform-group col-md-6 p-1">
                                <label for="gender">Gender *</label>
                                <select name="gender" id="gender" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                                    <option value="M" selected>M</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                            <div class="xform-group col-md-6 p-1">
                                <label for="nationality">Nationality *</label>
                                <input formcontrolname="nationality" id="nationality" name="nationality" required=" " type="text" placeholder="ISO 3166-1 alpha-3, like USA, GBR, IRL" value="@ViewData["nationality"]" aria-label="Date of Birth" class="form-control font-weight-500 ng-untouched ng-pristine ng-valid">
                            </div>
                        </div>
                    </div>

                <div class="d-flex se-license justify-content-between">
                    <div class="selfie-container">
                        <div id="qrcode-filler" style="width: 75%; height: 75%;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 170" width="142" height="170" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);">
                                <defs><clipPath id="__lottie_element_2"><rect width="142" height="170" x="0" y="0"></rect></clipPath></defs>
                                <g clip-path="url(#__lottie_element_2)">
                                    <g style="display: none;"><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g></g><g style="display: none;"><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g></g><g><path></path></g><g><path></path></g></g><g style="display: none;"><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g></g><g transform="matrix(1,0,0,1,0,0)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,70.58599853515625,84.51799774169922)"><path fill="rgb(198,207,229)" fill-opacity="1" d=" M-70.51799774169922,-84.51799774169922 C-70.51799774169922,-84.51799774169922 70.51799774169922,-84.51799774169922 70.51799774169922,-84.51799774169922 C70.51799774169922,-84.51799774169922 70.51799774169922,84.51799774169922 70.51799774169922,84.51799774169922 C70.51799774169922,84.51799774169922 -70.51799774169922,84.51799774169922 -70.51799774169922,84.51799774169922 C-70.51799774169922,84.51799774169922 -70.51799774169922,-84.51799774169922 -70.51799774169922,-84.51799774169922z"></path></g><g opacity="1" transform="matrix(1,0,0,1,71.03500366210938,94.25199890136719)"><path fill="rgb(172,185,213)" fill-opacity="1" d=" M17.333999633789062,19.913999557495117 C13.87600040435791,19.363000869750977 13.79800033569336,9.854000091552734 13.79800033569336,9.854000091552734 C13.79800033569336,9.854000091552734 23.95800018310547,-0.20499999821186066 26.17300033569336,-13.729999542236328 C32.12799835205078,-13.729999542236328 35.81100082397461,-28.110000610351562 29.851999282836914,-33.16899871826172 C30.100000381469727,-38.49399948120117 37.50699996948242,-74.97899627685547 -0.0010000000474974513,-74.97899627685547 C-37.50899887084961,-74.97899627685547 -30.10099983215332,-38.494998931884766 -29.850000381469727,-33.16899871826172 C-35.80799865722656,-28.110000610351562 -32.12900161743164,-13.729999542236328 -26.172000885009766,-13.729999542236328 C-23.95800018310547,-0.20499999821186066 -13.79699993133545,9.854000091552734 -13.79699993133545,9.854000091552734 C-13.79699993133545,9.854000091552734 -13.87600040435791,19.363000869750977 -17.333999633789062,19.913999557495117 C-27.388999938964844,21.513999938964844 -62.262001037597656,36.612998962402344 -68.9520034790039,54.3390007019043 C-69.67400360107422,56.25 -70.06800079345703,73.02200317382812 -70.06800079345703,74.97899627685547 C-70.06800079345703,74.97899627685547 70.06800079345703,74.97899627685547 70.06800079345703,74.97899627685547 C70.06800079345703,73.37899780273438 69.80400085449219,56.95600128173828 69.31300354003906,55.37900161743164 C63.637001037597656,37.20899963378906 27.586000442504883,21.535999298095703 17.33300018310547,19.908000946044922 C17.33300018310547,19.908000946044922 17.333999633789062,19.913999557495117 17.333999633789062,19.913999557495117z"></path></g><g opacity="1" transform="matrix(1,0,0,1,18.993999481201172,20.8700008392334)"><path fill="rgb(114,128,158)" fill-opacity="1" d=" M-17.993999481201172,-18.709999084472656 C-17.993999481201172,-18.709999084472656 18.993999481201172,-18.709999084472656 18.993999481201172,-18.709999084472656 C18.993999481201172,-18.709999084472656 18.993999481201172,-20.709999084472656 18.993999481201172,-20.709999084472656 C18.993999481201172,-20.709999084472656 -17.993999481201172,-20.709999084472656 -17.993999481201172,-20.709999084472656 C-17.993999481201172,-20.709999084472656 -17.993999481201172,-18.709999084472656 -17.993999481201172,-18.709999084472656z M-16.993999481201172,20.709999084472656 C-16.993999481201172,20.709999084472656 -16.993999481201172,-19.709999084472656 -16.993999481201172,-19.709999084472656 C-16.993999481201172,-19.709999084472656 -18.993999481201172,-19.709999084472656 -18.993999481201172,-19.709999084472656 C-18.993999481201172,-19.709999084472656 -18.993999481201172,20.709999084472656 -18.993999481201172,20.709999084472656 C-18.993999481201172,20.709999084472656 -16.993999481201172,20.709999084472656 -16.993999481201172,20.709999084472656z M-17.993999481201172,-19.709999084472656 C-17.993999481201172,-19.709999084472656 -17.993999481201172,-20.709999084472656 -17.993999481201172,-20.709999084472656 C-17.993999481201172,-20.709999084472656 -18.993999481201172,-20.709999084472656 -18.993999481201172,-20.709999084472656 C-18.993999481201172,-20.709999084472656 -18.993999481201172,-19.709999084472656 -18.993999481201172,-19.709999084472656 C-18.993999481201172,-19.709999084472656 -17.993999481201172,-19.709999084472656 -17.993999481201172,-19.709999084472656z"></path></g><g opacity="1" transform="matrix(1,0,0,1,18.993999481201172,148.6230010986328)"><path fill="rgb(114,128,158)" fill-opacity="1" d=" M-17.993999481201172,20.709999084472656 C-17.993999481201172,20.709999084472656 18.993999481201172,20.709999084472656 18.993999481201172,20.709999084472656 C18.993999481201172,20.709999084472656 18.993999481201172,18.709999084472656 18.993999481201172,18.709999084472656 C18.993999481201172,18.709999084472656 -17.993999481201172,18.709999084472656 -17.993999481201172,18.709999084472656 C-17.993999481201172,18.709999084472656 -17.993999481201172,20.709999084472656 -17.993999481201172,20.709999084472656z M-18.993999481201172,-20.709999084472656 C-18.993999481201172,-20.709999084472656 -18.993999481201172,19.709999084472656 -18.993999481201172,19.709999084472656 C-18.993999481201172,19.709999084472656 -16.993999481201172,19.709999084472656 -16.993999481201172,19.709999084472656 C-16.993999481201172,19.709999084472656 -16.993999481201172,-20.709999084472656 -16.993999481201172,-20.709999084472656 C-16.993999481201172,-20.709999084472656 -18.993999481201172,-20.709999084472656 -18.993999481201172,-20.709999084472656z M-17.993999481201172,19.709999084472656 C-17.993999481201172,19.709999084472656 -18.993999481201172,19.709999084472656 -18.993999481201172,19.709999084472656 C-18.993999481201172,19.709999084472656 -18.993999481201172,20.709999084472656 -18.993999481201172,20.709999084472656 C-18.993999481201172,20.709999084472656 -17.993999481201172,20.709999084472656 -17.993999481201172,20.709999084472656 C-17.993999481201172,20.709999084472656 -17.993999481201172,19.709999084472656 -17.993999481201172,19.709999084472656z"></path></g><g opacity="1" transform="matrix(1,0,0,1,121.61599731445312,20.8700008392334)"><path fill="rgb(114,128,158)" fill-opacity="1" d=" M17.993999481201172,-20.709999084472656 C17.993999481201172,-20.709999084472656 -18.993999481201172,-20.709999084472656 -18.993999481201172,-20.709999084472656 C-18.993999481201172,-20.709999084472656 -18.993999481201172,-18.709999084472656 -18.993999481201172,-18.709999084472656 C-18.993999481201172,-18.709999084472656 17.993999481201172,-18.709999084472656 17.993999481201172,-18.709999084472656 C17.993999481201172,-18.709999084472656 17.993999481201172,-20.709999084472656 17.993999481201172,-20.709999084472656z M18.993999481201172,20.709999084472656 C18.993999481201172,20.709999084472656 18.993999481201172,-19.709999084472656 18.993999481201172,-19.709999084472656 C18.993999481201172,-19.709999084472656 16.993999481201172,-19.709999084472656 16.993999481201172,-19.709999084472656 C16.993999481201172,-19.709999084472656 16.993999481201172,20.709999084472656 16.993999481201172,20.709999084472656 C16.993999481201172,20.709999084472656 18.993999481201172,20.709999084472656 18.993999481201172,20.709999084472656z M17.993999481201172,-19.709999084472656 C17.993999481201172,-19.709999084472656 18.993999481201172,-19.709999084472656 18.993999481201172,-19.709999084472656 C18.993999481201172,-19.709999084472656 18.993999481201172,-20.709999084472656 18.993999481201172,-20.709999084472656 C18.993999481201172,-20.709999084472656 17.993999481201172,-20.709999084472656 17.993999481201172,-20.709999084472656 C17.993999481201172,-20.709999084472656 17.993999481201172,-19.709999084472656 17.993999481201172,-19.709999084472656z"></path></g><g opacity="1" transform="matrix(1,0,0,1,121.61599731445312,148.6230010986328)"><path fill="rgb(114,128,158)" fill-opacity="1" d=" M17.993999481201172,18.709999084472656 C17.993999481201172,18.709999084472656 -18.993999481201172,18.709999084472656 -18.993999481201172,18.709999084472656 C-18.993999481201172,18.709999084472656 -18.993999481201172,20.709999084472656 -18.993999481201172,20.709999084472656 C-18.993999481201172,20.709999084472656 17.993999481201172,20.709999084472656 17.993999481201172,20.709999084472656 C17.993999481201172,20.709999084472656 17.993999481201172,18.709999084472656 17.993999481201172,18.709999084472656z M16.993999481201172,-20.709999084472656 C16.993999481201172,-20.709999084472656 16.993999481201172,19.709999084472656 16.993999481201172,19.709999084472656 C16.993999481201172,19.709999084472656 18.993999481201172,19.709999084472656 18.993999481201172,19.709999084472656 C18.993999481201172,19.709999084472656 18.993999481201172,-20.709999084472656 18.993999481201172,-20.709999084472656 C18.993999481201172,-20.709999084472656 16.993999481201172,-20.709999084472656 16.993999481201172,-20.709999084472656z M17.993999481201172,19.709999084472656 C17.993999481201172,19.709999084472656 17.993999481201172,20.709999084472656 17.993999481201172,20.709999084472656 C17.993999481201172,20.709999084472656 18.993999481201172,20.709999084472656 18.993999481201172,20.709999084472656 C18.993999481201172,20.709999084472656 18.993999481201172,19.709999084472656 18.993999481201172,19.709999084472656 C18.993999481201172,19.709999084472656 17.993999481201172,19.709999084472656 17.993999481201172,19.709999084472656z"></path></g></g><g style="display: none;">
                                        <g>
                                            <path></path>
                                            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div>
                            <img id="selfie" width="120" height="160" style="display:none" />
                        </div>
                        <div>
                            <button type="button" id="take-selfie" class="std-btn selfie-btn mt-2" data-bs-toggle="modal" data-bs-target="#takeSelfieDialog">1. Take a selfie</button>
                        </div>
                    </div>

                    <div class="button-license-container ml-2">
                        <button disabled type="button" id="upload-id" class="std-btn submit-btn">2. Upload government issued ID </button>

                        <div id="drivers-license-clear" style="display:none" class="flex-column align-items-center justify-content-center licence-c">
                                <img src="~/images/driver-license.png" alt="Government issues ID" class="govt-id-img">
                            <br />
                            <span class="mt-1">1 of 2</span>
                            <span class="circle-btn">X</span>
                        </div>

                        <div id="drivers-license-blurred" style="display:none" class="flex-column align-items-center justify-content-center licence-c">
                                <img src="~/images/driver-license-blurred.png" alt="Government issues ID" class="govt-id-img">
                            <span class="mt-1">1 of 2</span>
                            <span class="circle-btn">X</span>
                        </div>


                    </div>
                </div>
            </div>
        </form>

         <div id="next-step" style="display:none" class="btn-c justify-content-between mt-2">
             <span class="prev-btn">
                 <svg width="47" height="45" viewBox="0 0 47 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><rect x="0.582031" y="0.699219" width="45.6035" height="43.7393" rx="4.16035" fill="white"></rect><rect x="0.582031" y="0.699219" width="45.6035" height="43.7393" rx="4.16035" stroke="black"></rect><path d="M26.6547 15.1988C27.0187 15.5628 27.0187 16.1529 26.6547 16.5169L20.7893 22.3823L26.6547 28.2477C27.0187 28.6117 27.0187 29.2019 26.6547 29.5659C26.2907 29.9299 25.7005 29.9299 25.3365 29.5659L18.8121 23.0414C18.4481 22.6774 18.4481 22.0873 18.8121 21.7233L25.3365 15.1988C25.7005 14.8348 26.2907 14.8348 26.6547 15.1988Z" fill="#212121"></path></svg>
            </span>
            <button type="button" id="next-btn" class="std-btn next-btn" data-bs-toggle="modal" data-bs-target="#verificationProcess"> Next </button>
         </div>

        <div id="verificationProcess" class="modal fade" role="dialog">
            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Verifying Document</h4>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="verifying">
                                <div class="loader">
                                    <img id="loader-gif" alt="loader image" src="~/images/verify_md_fast.gif">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="ok-btn" type="button" data-bs-dismiss="modal" class="std-btn btn next-btn blue-btn mt-3">OK</button>
                        </div>
                    </div>
            </div>
        </div>

        <div id="takeSelfieDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Take Selfie</h4>
                            <button id="cancel-selfie" type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Scan QR code with your mobile's camera app and follow instructions.</p>
                            <div id="qrcode" style="text-align:center; display:none"></div>
                        </div>
                        <div class="modal-footer">
                            <button id="done-btn" type="button" data-bs-dismiss="modal" class="std-btn btn next-btn blue-btn mt-3">Done</button>
                        </div>
                    </div>
            </div>
        </div>

       </div> <!-- capture-container / employee-data-box -->

       <!-- <div id="issue-container" class="employee-data-box text-left d-flex flex-column justify-content-center"> -->
       </div> <!-- issue-container -->

    </div> <!-- container -->

    <button type="button" id="showDialog" style="display:none" data-bs-toggle="modal" data-bs-target="#msgDialog">Show Dialog</button>
    <div id="msgDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="msgTitle" class="modal-title">msg title</h4>
                    <button id="close-btn" type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="msgBody"> ...msg body... </p>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/qrcode.min.js"></script>
    <script src="~/js/verifiedid.requestservice.client.js"></script>
    <script src="~/js/verifiedid.uihandler.js"></script>

    <script>
        var qrcode = new QRCode("qrcode", { width: 150, height: 150 });

        function togglePlusMinus(op) {
            document.getElementById('plus-icon').style.display = (op == '+' ? "none" : "");
            document.getElementById('minus-icon').style.display = (op == '+' ? "" : "none");
        }
        document.getElementById('plus-icon').addEventListener('click', () => {
            togglePlusMinus('+');
        });
        document.getElementById('minus-icon').addEventListener('click', () => {
            togglePlusMinus('-');
        });

        document.getElementById('take-selfie').addEventListener('click', () => {
            requestService.createSelfieRequest( selfieCallback );
        });
        document.getElementById('cancel-selfie').addEventListener('click', () => {
            requestService.cancelRequest();
        });
        document.getElementById('done-btn').addEventListener('click', () => {
            requestService.cancelRequest();
        });
        var base64jepgPhoto = null;
        function selfieCallback( requestType, event, id, data ) {
            console.log( event );
            switch( event ) {
                case "retrieved":
                    dimQRCode();
                break;
                case "selfie_taken":
                    base64jepgPhoto = data.photo;
                    hideQRCode();
                    document.getElementById('selfie').src = "data:image/jpeg;base64," + data.photo;
                    document.getElementById('selfie').style.display = "block";
                    document.getElementById("qrcode-filler").style.display = "none";
                    document.getElementById("done-btn").click();
                    document.getElementById("upload-id").disabled = false;
                    break;
                case "cancelled": case "timeout": case "error":
                    document.getElementById("done-btn").click();
                    showDialog( `${requestType} ${event}`, JSON.stringify(data) );
                break;

            }
        }
        function showDialog( title, message ) {
            document.getElementById("msgTitle").innerText = String(title).charAt(0).toUpperCase() + String(title).slice(1);;
            document.getElementById("msgBody").innerText = message;
            document.getElementById("showDialog").click();
        }

        document.getElementById('upload-id').addEventListener('click', () => {
            document.getElementById("upload-id").style.display = "none";
            document.getElementById("drivers-license-clear").style.display = "";
            setTimeout( function() {
                document.getElementById("drivers-license-clear").style.display = "none";
                document.getElementById("drivers-license-blurred").style.display = "";
                document.getElementById("drivers-license-blurred").classList.add("d-flex");
                document.getElementById("next-step").style.display = "";
                document.getElementById("next-step").classList.add("d-flex");
            }, 1000);
        });

        document.getElementById('ok-btn').addEventListener('click', () => {
            saveUserClaims();
            //setTimeout( () => { window.location = "verify-credential" }, 500);
        });

        function saveUserClaims() {
            var claims = {
                'firstName': document.getElementById("uname1").value,
                'lastName': document.getElementById("lastname1").value,
                'address': document.getElementById("address1").value,
                'dateOfBirth': document.getElementById("dateofBirth1").value,
                'documentType': document.getElementById("documentType").value,
                'documentNumber': document.getElementById("documentNumber").value,
                'gender': document.getElementById("gender").value,
                'nationality': document.getElementById("nationality").value,
                'photo': base64jepgPhoto
            };
            const response = fetch('/api/issuer/save-profile', {
                headers: { 'Accept': 'application/json', 'Content-Type': 'application/json', 'rsid': requestService.uuid },
                method: 'POST',
                body: JSON.stringify(claims)
            }).then( 
                window.location = "verify-credential"
            );
        }

    </script>
</div>
